

/*

this is the day 02/02/24
what we did today ? 
basically just worked on the store page, created a simple design wich is more intuitive

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Pacifica';
    src: url(fonts/Pacifica.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(assets/imgs/background-img.gif);
    background-size: cover;
    background-position: top;
}

nav li{
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

nav{
    background-color: black;
    text-align: center;
}

nav a{
    font-family: 'Pacifica','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color:white;
    text-decoration: none;
}

.social-media{
    text-align: center;
}


.social-icons{
    margin-bottom: 100px;
    /*border: solid red 1px;*/
}
.social-icons li{
    display: inline-block;
}

.social-icons > ul > li > a > img{
    padding: 8px;
    width: 75px;
}

.shop-items{
    /*border: solid 1px red;*/
    background-color:#2c3333db;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.197);
}

.shop-items > h2{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.494);
    font-family: 'Pacifica',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    color: white;
}

.container-product{
    margin-bottom: 50px;
    /*border: solid 1px red;*/
    width: 400px;
    height: 400px;

}

.container-product > picture > img{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.product{
    display: flex;
    background-color: rgba(0, 0, 0, 0.295);
    margin: 40px;
}

.product-text{
    font-family: 'Open Sans';
    width: 280px;
    height: 385px;
    margin: -5px;
    padding: 20px;
    color: white;
    font-size: 1.0em;
}


.product-text ul{
    padding: 10px;
    margin-left: 30px;
    font-size: 1.0em;
}

.product-text h5{
    font-size: 1.3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.product-text p{
    padding: 5px;
    text-align: center;
}

.product-text span{
    color: red;
}

.container-background{
    margin: 30px;
    background-color: #2c3333a3;
}

.container-background h3{
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(166, 48, 48);
    text-align: center;
    color: white;
    font-family: 'Pacifica';
    font-size: 2em;
}

.about-us{
    font-family: 'Open Sans';
    text-align: center;
}

#introduction{
    padding: 30px;
    background-color: #191a1ad0;
    font-size: 2em;
}

.about-us span{
    color: rgb(255, 0, 0);
}

.about{
    text-align: center;
    background-color: #2c3333d0;
    padding: 40px;
    font-size: 1.3em;
}

.about p {
    padding: 20px;
}


.product-button {
    align-items: bottom;
    background-color: black;
    color: white;
    margin: 25px;
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}